*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-color: #0b1b33;
  font-family: 'Courier New', Courier, monospace;
}
nav{
  background-color: #0b1b33;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100px;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}
nav a:hover{
  color: #67bcb7;
}
nav li:first-child{
  margin-right: auto;
}
.greeting {
  color: white;
  font-size: 2em;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
}
.content {
  font-family: 'IBM Plex Sans', 'sans-serif';
  color: white;
  font-size: 10em;
  text-align: center;
  padding-left: 50px;
}
.linkedin-icon {
  color: white; /* Start with white color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.linkedin-icon:hover {
  color: blue; /* Change color to blue on hover */
}

footer {
  background-color: #0b1b33;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed; /* Fixed position to stick to the bottom */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
}

footer a:hover {
  color: #67bcb7
}